<div>
<app-fournisseur></app-fournisseur>
    <app-header></app-header>    
    <app-slider-area></app-slider-area>
    <app-small-banner></app-small-banner>
    <app-product-area></app-product-area>
    <app-medium-banner></app-medium-banner>
    <app-most-popular></app-most-popular>
    <app-shop-home-list></app-shop-home-list>
    <app-condown-area></app-condown-area>
    <app-shop-blog></app-shop-blog>
    <app-shop-service-area></app-shop-service-area>
    <app-newsletter></app-newsletter>
    <app-modal></app-modal>
    <app-footer></app-footer>
    
</div>
